body{

padding: 0 auto;
margin:0 auto;

}
#PrimeiraArea{
	width:100%;
	height:100%;
	background-image:url("imagens/papelDeParede.jpg");
	background-size:100% 100%;
	background-attachment:fixed;
}
#SegundaArea{
	width:100%;
	height:1100px;
	background-color:#04C4D9;
}
#TerceiraArea{
	width:100%;
	height:100px;
	background-color:#04C4D9;
	border-top:1px solid white;
}
#topo{
	width:100%;
	height:100px;
	background-color:rgba(0,0,0,0.5);
	position:relative;
}
#Informacoes-PrimeiraArea{
	width:100%;
	height:90%;
	float:left;
}
#Informacoes-PrimeiraArea-limite{
	width:1050px;
	height:400px;
	margin-top:10%;
}

#titulo-texto{
	font: 60px solid;
	color:white;
	font-family: 'Candara';
}
#titulo-texto2{
	font: 60px solid;
	color:white;
	font-family: 'Calibri';
}
#topo-limite{
	width:1250px;
	height:100%;
}
#imagem-logo{
	height:60px;
	float:left;
	margin-top:15px;
}
#botao-grande{
	width:250px;
	height:75px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	font: 40px solid;
	font-family:'Calibri';
	cursor:pointer;
}	
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}
#ambiente-login{
	width:250px;
	height:100%;
	float:right;
}
#campo-texto-instituicao{
	width:250px;
	height:30%;
	float:left;
	margin-top:5%;
	border-radius:5px;
	border:0px;
}
#campo-texto{
	width:170px;
	float:left;
	height:30%;
	border:0px;
	border-radius:5px;
	margin-top:2.5%;
}
#botao-medio{
	width:73px;
	height:30%;
	float:left;
	border-radius:5px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	font: 100% solid;
	font-family:'Calibri';
	margin-top:2.5%;
	margin-left:2.5%;
	cursor:pointer;
}
#botao-medio:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#SegundaArea-limite{
	width:1250px;
	height:100%;
}
#vantagens{
	width:1250px;
	height:75%;
	float:left;
}
#topico-vantagem{
	width:28%;
	height:300px;
	margin:2.5%;
	float:left;
}
#texto-segundaarea{
	font: 20px solid;
	margin-top:30px;
	margin-bottom:30px;
	float:left;
	color:white;
	font-family:'Candara';
}
#texto-topico-vantagem{
	font:15px solid;
	color:white;
	font-family:'Candara';
}
#img-icones{
	margin-top:20px;
	height:100px;
}
#titulo-segundaarea{
	font: 50px solid;
	float:left;
	margin-top:50px;
	font-family:'Candara';
	color:white;
}
#texto-saiba-mais-vantagens{
	font: 25px solid;
	color:white;
	font-family:'Candara';
	cursor:pointer;
	text-decoration:none;
}
#texto-saiba-mais-vantagens:hover{
	color:#038F1A;
	transition: .5s;
}
#body-vantagens{
	width:100%;
	height:2200px;
	background-color:#04C4D9;
	color:white;
}
#conteudo-vantagem-limite{
	width:1250px;
	height:100%;
}
#area-titulo{
	width:95%;
	font: 40px solid;
	float:left;
	font-family:'Calibri';
	margin:25px;	
	text-align:left;
}
#etapa-topicos-vantagens{
	width:100%;
	height:200px;
	margin-top:20px;
	margin-bottom:20px;
}
#imagem-vantagens-escola-inteligente{
	width:550px;
}
#titulo-etapa-topicos-vantagens{
	width:100%;
	height:35px;
	float:left;	
	text-align:left;
	font:30px solid;
}
#fonte-titulo-etapa-topicos-vantagens{
	font-family:'Candara';	
}
#conteudo-etapa-topicos-vantagens{
	width:925px;
	height:155px;
	float:left;
	margin-top:10px;
	margin-left:25px;
	text-align:justify;
	font:20px solid;
}
#conteudo-etapa-topicos-vantagens2{
	width:925px;
	height:155px;
	float:right;
	margin-top:10px;
	text-align:justify;
	font:20px solid;
}
#texto-conteudo-etapa-topicos-vantagens{
	font-family:'Calibri';		
}
#gravura-etapa-topicos-vantagens{
	width:250px;
	height:155px;
	float:right;
	margin-top:10px;
}
#gravura-etapa-topicos-vantagens2{
	width:250px;
	height:155px;
	float:left;
	margin-top:10px;
}
#voltar-vantagens{
	color:white;
	font: 35px solid;
	font-family:'Candara';
	float:right;
	margin-top:50px;
	text-decoration:none;
}
#voltar-vantagens:hover{
	transition:.5s;
	color:#038F1A;
}
#area-error-login{
	margin-top:50px;
	width:700px;
	height:300px;
	border:1px solid #04C4D9;
}
#campo-texto-error-login{
	width:98%;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#link-error{
	font:20px solid;
	color:#04C4D9;
	font-family:'Calibri';
	text-decoration:none;
}
#link-error:hover{
	transition: .5s;
	color:#038F1A;
}
#campo-senha-error-login{
	width:74%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;	
}
#botao-error{
	width:21%;
	height:40px;
	border-radius:5px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 30px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin:1%;
}
#texto-erro-mensagem{
	width:600px;
	height:75px;
	color:white;
	text-align:center;
	font:20px solid;
	font-family:'Candara';
	float:left;
	background-color:#04C4D9;
}
#texto-erro-mensagem-login{
	width:600px;
	margin-top:20px;
	font:20px solid;
	font-family:'Candara';
	float:left;
	color:#04C4D9;
}
#escolhas-error{
	width:100%;
	height:20px;
	float:left;
	margin-top:50px;
	color:#04C4D9;
	font: 15px solid;
	font-family:'Candara';
}
#opcao-error{
	margin-left:15px;
	margin-right:15px;
	color:#04C4D9;
	cursor:pointer;
	text-decoration:none;
}
#opcao-error:hover{
	transition:.5s;
	color:#038F1A;
}
#topo-login-adm{
	background-color:#04C4D9;
	width:100%;
	height:75px;
}
#conteudo-login-adm{
	width:1300px;
	height:800px;
}
#topo-login-adm-limite{
	width:1300px;
	height:100%;
}

#TerceiraArea-limite{
	width:1270px;
	height:100%;
}
#rodape-divisao{
	width:400px;
	height:100%;
	float:left;
	margin-left:10px;
	margin-right:10px;
}
#titulo-texto-rodape{
	font: 15px solid;
	color:white;
	font-family:'Candara';
	float:left;
}
#texto-rodape{
	color:white;
	float:left;
	font: 15px solid;
	margin:1px;
	font-family:'Candara';
	cursor:pointer;
	text-decoration:none;
}
#texto-rodape:hover{
	transition: .5s;
	color:#038F1A;
}
#titulo-contato{
	font: 35px solid;
	font-family:'Calibri';
	margin:5px;
	color:#04C4D9;
	float:left;
}
#subtitulo-contato{
	font: 20px solid;
	font-family:'Candara';
	color:#038F1A;
	margin:5px;
	float:left;
}
#tabela-contato{
	width:100%;
}
#linha-contato{
	background-color:#038F1A;
	height:2px;
	border:0;
}
#area-formulario-contato{
	width:1000px;
	height:500px;
}
#div-texto-contato{
	width:450px;
	margin:10px;
	height:160px;
	float:right;
	background-image:url("imagens/contatoInteligente.png");
	background-size: 100% 100%;
}
#campo-texto-contato{
	width:500px;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:10px;
	color:darkgrey;
	font-family:'Candara';
}
#campo-grande-texto-contato{
	width:980px;
	height:150px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:10px;
	color:darkgrey;
	font-family:'Candara';
}
#botao-grande-contato{
	width:225px;
	height:50px;
	margin:10px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	font: 40px solid;
	font-family:'Calibri';
	cursor:pointer;
	float:left;
}	
#botao-grande-contato:hover{
	transition: .5s;
	background-color:#038F1A;
}