body{
	padding: 0 auto;
	margin:0 auto;
}

#link-divisao-conteudo-adm-index{
	font:19px solid;
	color:white;
	font-family:'Candara';	
	text-decoration:none;
	float:left;
	margin-top:25px;
	margin-left:25px;
	width:210px;
	height:30px;
	background-color:#04C4D9;	
	border-radius:10px;	
}
#link-divisao-conteudo-adm-index:hover{
	background-color:#038F1A;
	transition: .5s;
}

#divisao-conteudo-adm-index{ width:100%; height:50px; float:left; margin-top:20px;}
#conteudo-divisao-conteudo-adm-index{ width:100%; height:150px; display:none;}
#divisao-conteudo-adm-index:hover{ transition:.2s; }

#divisao-conteudo-adm-index2{ width:100%; height:50px; float:left; margin-top:20px; }
#conteudo-divisao-conteudo-adm-index2{ width:100%; height:150px; display:none; }
#divisao-conteudo-adm-index2:hover{ transition:.2s; }

#divisao-conteudo-adm-index3{ width:100%; height:50px; float:left; margin-top:20px; }
#conteudo-divisao-conteudo-adm-index3{ width:100%; height:150px; display:none; }
#divisao-conteudo-adm-index3:hover{ transition:.2s; }

#divisao-conteudo-adm-index4{ width:100%; height:50px; float:left; margin-top:20px; }
#conteudo-divisao-conteudo-adm-index4{ width:100%; height:150px; display:none; }
#divisao-conteudo-adm-index4:hover{ transition:.5s; }

#tabela-resumo{
	float:left;
	width:100%;
	height:200px;
	font: 15px solid;
	color:#04C4D9;
	font-family:'Calibri';
}
#texto-titulo-tabela-resumo{
	text-align:left;
	font:17px solid;
	color:#038F1A;
	font-family:'Candara';
	float:left;
	margin:5px;
}
#td-tabela-resumo{
	width:30px;
	text-align:center;
	color:#038F1A;
}
#espaco{
	width:100%;
	height:50px;
}
#divisao-conteudo-adm-index0{ 
	width:100%; 
	height:250px;
}
#topo-login-adm{
	background-color:#04C4D9;
	width:100%;
	height:75px;
	position:relative;
}
#area-icones-menu-login-adm{
	margin-top:10px;
	margin-left:7.5px;
	width:60px;
	height:30px;
	float:left;
}
#titulo-divisao-conteudo-adm-index{
	width:98%;
	height:50px;
	margin-left:1%;
	float:left;
	text-align:left;
	font:25px solid;
	color:#038F1A;
	font-family:'Calibri';
	border-bottom:1px solid #04C4D9;
}
#texto-titulo-divisao-conteudo-adm-index{
	margin-left:25px;
	margin-top:10px;
	float:left;
}
#titulo-configuracao-adm{
	text-align:left;
	font:25px solid;
	color:#04C4D9;
	width:80%;
	font-family:'Calibri';
	float:left;
	margin:50px;
}
#sub-titulo-configuracao-adm{
	text-align:left;
	font:15px solid;
	color:#038F1A;
	width:80%;
	font-family:'Calibri';
	float:left;	
	margin-left:50px;
	margin-top:-25px;
}
#titulo-configuracao-adm-index{
	text-align:left;
	font:25px solid;
	margin-left:50px;
	color:#04C4D9;
	width:90%;
	font-family:'Calibri';
	float:left;
}
#etapa-cadastro{
	width:100%;
	height:300px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#titulo-etapa-cadastro{
	font:15px solid;
	float:left;
	color:#038F1A;
	margin-left:50px;
	font-family:'Candara';
}
#subtitulo-etapa-cadastro{
	font:10px solid;
	float:left;
	color:red;
	margin-top:5px;
	margin-left:10px;
	font-family:'Candara';
	cursor:pointer;
	text-decoration:none;
}
#area-questionario{
	float:left;
	margin-left:50px;
	margin-top:15px;
	width:600px;
	height:150px;
}
#campo-grande{
	width:98%;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-grande-foto{
	width:350px;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:right;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-medio{
	width:48%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#campo-medio-grande{
	width:79%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#icone-etapa-cadastro-instituicao{
	float:right;
	margin-top:75px;
	margin-right:150px;
}
#texto-inserir-imagem{
	font:15px solid;
	float:left;
	color:#04C4D9;
	margin-left:1%;
	margin-top:20px;
	font-family:'Candara';	
}
#area-questionario-tabela{
	float:left;
	margin-left:50px;
	margin-top:15px;
	width:500px;
	height:150px;
}
#area-caixa-selecao-tabela{
	width:30px;
}
#texto-questionario-tabela{
	font:15px solid;
	float:left;
	color:#04C4D9;
	margin:10px;
	font-family:'Candara';
}
#espaco-tabela{
	width:50px;
}
#botao-grande{
	width:220px;
	height:50px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 30px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-left:25px;
	margin-bottom:50px;
}
#botao-grande2{
	width:220px;
	height:50px;
	color:yellow;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin:10px;
}
#botao-grande2:hover{
	transition: .5s;
	color:#038F1A;
}
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}

#texto-rodape-conteudo-adm{
	width:250px;
	height:100%;
	text-align:left;
	margin-left:10px;
	font: 15px solid;
	color:#04C4D9;
	font-family:'Calibri';
	margin:20px;
	cursor:pointer;
	text-decoration:none;
}
#texto-rodape-conteudo-adm:hover{
	transition: .5s;
	color:#038F1A;
}
#rodape-adm{
	width:100%;
	height:30px;
	border-top:1px solid #04C4D9;
	float:left;
	background-color:white;
}
#area-mostrar-emails{
	width:100%;
	margin-top:20px;
	height:400px;
	float:left;
}
#area-emails{
	width:100%;
	height:200px;
	float:left;
}
#areas-botoes-emails{
	width:100%;
	float:left;
	height:100px;
}
#botao-emails{
	width:150px;
	height:50px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-left:50px;
}
#botao-emails:hover{
	transition: .5s;
	background-color:#038F1A;
}
#tabela-mostrar-emails{
	width:92.5%;
	border-top:1px solid #038F1A;	
	border-bottom:1px solid #038F1A;	
}
#td-tabela-mostrar-emails{
	text-align:left;
	font: 17px solid;
	font-family:'Calibri';	
	color:#038F1A;
}
#area-organizar-mensagem{
	width:200px;
	margin-top:20px;
	margin-right:20px;
	float:right;
	text-align:left;
	font: 20px solid;
	font-family:'Calibri';	
	color:#04C4D9;
}
#td-tabela-mostrar-emails-conteudo{
	color:#04C4D9;
	text-align:left;
	font: 17px solid;
	font-family:'Calibri';	
	text-decoration:none;
	cursor:pointer;	
}
#area-direita-enviar-mensagem{
	width:900px; 
	height:400px;
	float:left;
	margin-left:40px;
}
#textarea-grande{
	width:98%;
	height:250px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';	
}
#botao-submit{
	width:150px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin:1%;
}
#botao-submit:hover{
	transition: .5s;
	background-color:#038F1A;
}
#icone-lixo{
	width: 15px;
    background-image:url('../imagens/icone-lixo.png');
	background-size:100% 100%;
	margin-left:15px;
	height:20px;
}
#icone-lixo:hover{
	 background-image:url('../imagens/icone-lixo2.png');
}
#icone-carta-01{
	background-image:url("../imagens/icone-carta-pequeno.png");
	width:20px;
	height:15px;
	background-size:100% 100%;
}
#icone-carta-02{
	background-image:url("../imagens/icone-carta-pequeno2.png");
	width:20px;
	height:15px;
	background-size:100% 100%;
}
#area-texto-mensagem{
	width:90%;
	height:200px;
	float:left;
	margin-left:5%;
	margin-top:-20px;
	font:15px solid;
	font-family:'Calibri';
	color:#04C4D9;
	text-align:left;
}
#area-perfil{
	width:175px;
	height:120%;
	float:left;
	border-right:2px solid #04C4D9;
}
#conteudo{
	width:72%;
	height:100%;
}
#area-direita{
	width:175px;
	height:120%;
	float:right;
	border-left:2px solid #04C4D9;	
}
#rodape{
	width:100%;
	float:left;
	height:50px;
	background-color:#04C4D9;
}
#topo{
	width:0 auto;
	height:50px;
	background-color:#04C4D9;
}
#area-foto{
	width:100%;
	height:200px;
	float:left;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#menu-topo{
	width:87%;
	height:100%;
	float:left;
}
#lado-direito-topo{
	width:13%;
	height:100%;
	float:left;
}
#cima{
	width:100%;
	height:20px;
	float:left;
	font:20px solid;
	font-family:'Candara';
	color:white;
}
#icone-pequeno{
	height:20px;
	margin:5px;
	border:0;
}
#baixo{
	width:100%;
	height:30px;
	float:left;
}
#topico-conteudo{
	width:90%;
	height:250px;
	float:left;
	margin-top:20px;
}
#titulo-topico-conteudo{
	width:100%;
	height:30px;
	border-bottom:1px solid #038F1A;
	float:left;
	margin-left:2.5%;
	color:#04C4D9;
	font:25px solid;
	font-family:'Calibri';
	text-align:left;
}
#topico-menu{
	width:150px;
	height:40px;
	float:left;
	margin-top:10px;
}
#topico-menu-logo{
	width:150px;
	height:40px;
	float:left;
	margin:5px;
	background-image:url("../imagens/logo-escola-branco.png");
	background-size:100% ;
	background-position:center center;
	background-repeat:no-repeat;
}
#topico-menu2{
	width:100px;
	height:40px;
	float:left;
	margin-top:10px;
}
#texto-topico-menu{
	font:20px solid;
	font-family:'Calibri';
	color:white;
	margin-top:10px;
	cursor:pointer;
	text-decoration:none;
	text-align:center;
}
#texto-topico-menu:hover{
	color:#038F1A;
	transition: .5s;
}
#texto-materia-lessionada{
	color:#038F1A;
	margin-top:20px;
	font:15px solid;
	font-family:'Candara';
	float:left;
}


#campo-grande{
	width:98%;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-grande-foto{
	width:350px;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:right;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-medio{
	width:48%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#etapa-cadastro{
	width:100%;
	height:300px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#area-questionario{
	float:left;
	margin-left:50px;
	margin-top:15px;
	width:600px;
	height:150px;
}
#titulo-etapa-cadastro{
	font:15px solid;
	float:left;
	color:#038F1A;
	margin-left:50px;
	font-family:'Candara';
}
#texto-inserir-imagem{
	font:15px solid;
	float:left;
	color:#04C4D9;
	margin-left:1%;
	margin-top:20px;
	font-family:'Candara';	
}
#botao-grande{
	width:220px;
	height:50px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 30px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-left:50px;
	margin-bottom:50px;
}
#botao-grande2{
	width:220px;
	height:50px;
	color:yellow;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin:10px;
}
#botao-grande2:hover{
	transition: .5s;
	color:#038F1A;
}
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}
#conteudo-orcamento{
	width:1300px;
	height:650px;
	margin-top:10px;
	margin-bottom:10px;
}
#divisao-topicos-visao-geral-orcamento{
	border-radius:10px;
	width:20%;
	height:50%;
	background-color:#E6E7E8;
	border:1px solid #E6E7E8;	
	float:left;
}
#divisao-topicos-visao-geral-orcamento2{
	border-radius:10px;
	width:20%;
	height:47%;
	background-color:#E6E7E8;
	border:1px solid #E6E7E8;
	margin-top:1%;
	float:left;
}
#topicos-visao-geral-orcamento{
	color:black;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	margin-top:20px;
	border-bottom:1px solid darkgrey;
	width:90%;
	height:40px;
}
#topicos-visao-geral-orcamento-ultimo{
	color:black;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	margin-top:20px;
	width:90%;
	height:40px;
}
#conteudo-visao-geral-orcamento{
	border-radius:10px;
	width:78%;
	height:100%;
	margin-left:1%;
	border:1px solid #E6E7E8;
	float:right;	
}