body{

padding: 0 auto;
margin:0 auto;

}
#topo{
	width:100%;
	height:120px;
	background-color:#04C4D9;
}
#topo-limite{
	width:1250px;
	height:100%;
}
#icone-auto-falante{
	float:left;
	height:80%;
	margin-top:10px;
}
#texto-topo{
	color:white;
	font:20px solid;
	float:left;
	font-family: 'Candara';
	text-align:justify;
	margin-left:50px;
	margin-top:30px;
}
#botao-medio{
	width:150px;
	height:30%;
	float:right;
	border-radius:5px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	font: 100% solid;
	font-family:'Calibri';
	margin-top:50px;
	margin-right:50px;
	cursor:pointer;
}
#botao-medio:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#cadastro-instituicao{
	width:1250px;
	margin-top:25px;
	display:block;
}
#tabela-vizualizar{
	width:100%;
	border-top:1px solid #038F1A;	
	border-bottom:1px solid #038F1A;	
}
#texto-titulo-tabela-vizualizar{
	font:15px solid;
	font-family:'Calibri';
	color:#04C4D9;	
}
#texto-tabela-vizualizar{
	font:15px solid;
	font-family:'Candara';
	color:#038F1A;		
}
#texto-tabela-vizualizar:hover{
	transition: .5s;
	color:#04C4D9;	
	cursor:pointer;
}
#texto-cadastro{
	font:35px solid;
	float:left;
	font-family:'Calibri';
	color:#04C4D9;
	margin-top:25px;
	margin-bottom:25px;
}
#etapa-cadastro{
	width:100%;
	height:300px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#tipoPortalEscolha{
	width:550px;
	height:250px;
	float:left;
	margin:30px;
	background-size:100% 100%;
	cursor:pointer;
}
#etapa-cadastro2{
	width:100%;
	height:250px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#titulo-etapa-cadastro{
	font:15px solid;
	float:left;
	color:#038F1A;
	margin-left:25px;
	font-family:'Candara';
}
#area-questionario{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
}
#area-questionario-professor{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
	display:none;
}
#area-questionario-outro-funcionario{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
	display:none;
}
#tabela_dias_a_lessionar{
	width:100%;
	color:#04C4D9;
	font-family:'Calibri';
}
#botao-grande{
	width:150px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:right;
}
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}
#botao-grande2{
	width:150px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:right;
	margin-top:20px;
}
#botao-grande2:hover{
	transition: .5s;
	background-color:#038F1A;
}
#botao-pequeno{
	width:100px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-bottom:20px;	
	margin-left:10px;
}
#botao-pequeno:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#campo-buscador{
	width:350px;
	height:40px;
	border-radius:10px;
	border:1px solid #04C4D9;
	color:darkgrey;
	font: 15px solid;
	font-family:'Calibri';
	float:left;
	margin-bottom:20px;
}
#tabela-classificacao-livro{
	color:#04C4D9;
	text-align:center;
	font: 19px solid;
	font-family:'Calibri';	
}
#serapar{
	width:100%;
	height:50px;
	float:left;
}
#subtitulo-etapa-cadastro{
	font:10px solid;
	float:left;
	color:red;
	margin-top:5px;
	margin-left:10px;
	font-family:'Candara';
	cursor:pointer;
	text-decoration:none;
}
#area-questionario-tabela{
	float:left;
	width:500px;
	margin-left:25px;
	height:100px;
}
#texto-questionario-tabela{
	font:15px solid;
	float:left;
	color:#04C4D9;
	font-family:'Candara';
}
#area-caixa-selecao-tabela{
	width:30px;
}
#espaco-tabela{
	width:50px;
}
#icone-alugar{
    background-image:url('../imagens/alugar.png');
	background-size:100% 100%;
	margin-left:15px;
	height:20px;
	width:20px;
}
#icone-alugar:hover{
	 background-image:url('../imagens/alugar2.png');
}
#icone-detalhes{
    background-image:url('../imagens/icone-perfil2.png');
	background-size:100% 100%;
	margin-left:20px;
	height:20px;
	width:25px;
}
#icone-detalhes:hover{
    background-image:url('../imagens/icone-perfil3.png');	
}
#tabela-sala-de-aula{
	width:300px;
	float:left;
	border-right:1px solid #038F1A;
}
#tr-sala-de-aula{
	font:15px solid;
	color:#038F1A;
	font-family:'Candara';	
}
#tr-sala-de-aula2{
	font:15px solid;
	color:#04C4D9;
	font-family:'Calibri';	
}
#area-alunos-nao-vinculados{
	float:right;
	width:900px;
	height:300px;
}
#campo-vinculo{
	border-radius:5px;
	border-color:#038F1A;
	color:#038F1A;
	cursor:pointer;
	font:15px solid;
	font-family:'Calibri';	
}
#campo-vinculo:hover{
	border-color:#04C4D9;
	transition: .5s;
	color:#04C4D9;
}
#area-detalhes-alunos{
	width:1000px;
	height:400px;
	margin-top:20px;
}
#area-detalhes-dados-aluno{
	width:100%;
	height:430px;
	background-color:#E6E7E8;
	border-radius:10px;
	float:left;
	margin-top:75px;
}
#area-detalhes-icone-aluno{
	float:left;
	width:200px;
	height:200px;
	margin-left:50px;
	position:absolute;
	border-radius:150px;
	background-size: 101% auto;
	box-shadow: 0px 0px 5px black;	
	background-position: center center;
}
#tabela-descricao-aluno{
	float:left;
	margin-top:140px;
	margin-left:35px;
}
#td-estatico-descricao{
	font: 16px solid;
	font-family:'Candara';
	text-align:right;
	color:darkgrey;	
}
#td-dinamico-descricao{
	font: 16px solid;
	font-family:'Calibri';
}
#tabela-descricao-aluno2{
	float:right;
	margin-top:140px;
	margin-right:35px;
	width:600px;
}
#divisao-alugar-livro-aluno{
	width:1200px;
	height:450px;
	margin-top:50px;
	background-color:#E6E7E8;
	border-radius:10px;
}
#div-informacoes-livro{
	width:400px;
	height:100%;
	float:left;
	border-right: 1px solid darkgrey;
}
#fonte-titulo-alugar-livro{
	font: 20px solid black;
	font-family:'Candara';
}
#divisao-buscar-aluno-alugar-livro{
	width:775px;
	height:425px;
	margin-top:15px;
	float:right;
}
#quadrados-resultado-busca-aluno{
	width:350px;
	height:150px;
	margin:10px;
	float:left;
}
#fonte-titulo-texto-buscador-alunoLivro{
	float:right;
	font: 15px solid black;
	font-family:'Candara';
	margin-right:50px;
}
#texto-alugado-livro{
	float:left;
	font: 20px solid black;
	font-family:'Candara';
	margin-top:50px;	
	margin-left:50px;
}
#texto-baixa-livro{
	float:left;
	font: 20px solid black;
	font-family:'Candara';
	margin-top:50px;	
	margin-left:400px;
}
#botao-largo-medio{
	width:200px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;
	float:left;
	margin-top:150px;
}
#botao-largo-medio:hover{
	transition: .5s;
	background-color:#038F1A;	
}