body{

padding: 0 auto;
margin:0 auto;

}
#topo{
	width:100%;
	height:120px;
	background-color:#CE3426;
}
#topo-limite{
	width:1250px;
	height:100%;
}
#icone-auto-falante{
	float:left;
	height:80%;
	margin-top:10px;
}
#texto-topo{
	color:white;
	font:20px solid;
	float:left;
	font-family: 'Candara';
	text-align:justify;
	margin-left:50px;
	margin-top:30px;
}
#botao-medio{
	width:150px;
	height:30%;
	float:right;
	border-radius:5px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	font: 100% solid;
	font-family:'Calibri';
	margin-top:50px;
	margin-right:50px;
	cursor:pointer;
}
#botao-medio:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#cadastro-instituicao{
	width:1250px;
	height:10px;
	margin-top:25px;
	display:block;
}
#linha-deletar{
	width:100%;
	height:10px;
	float:left;
}
#tabela-vizualizar{
	width:100%;
	border-top:1px solid #038F1A;	
	border-bottom:1px solid #038F1A;	
}
#texto-titulo-tabela-vizualizar{
	font:15px solid;
	font-family:'Calibri';
	color:#04C4D9;	
}
#texto-tabela-vizualizar{
	font:15px solid;
	font-family:'Candara';
	color:#038F1A;		
}
#texto-tabela-vizualizar:hover{
	transition: .5s;
	color:#04C4D9;	
	cursor:pointer;
}
#texto-cadastro{
	font:35px solid;
	float:left;
	font-family:'Calibri';
	color:#04C4D9;
	margin-top:25px;
	margin-bottom:25px;
}
#etapa-cadastro{
	width:100%;
	height:300px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#tipoPortalEscolha{
	width:550px;
	height:250px;
	float:left;
	margin:30px;
	background-size:100% 100%;
	cursor:pointer;
}
#etapa-cadastro2{
	width:100%;
	height:250px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#titulo-etapa-cadastro{
	font:15px solid;
	float:left;
	color:#038F1A;
	margin-left:25px;
	font-family:'Candara';
}
#area-questionario{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
}
#area-questionario-professor{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
	display:none;
}
#area-questionario-outro-funcionario{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
	display:none;
}
#tabela_dias_a_lessionar{
	width:100%;
	color:#04C4D9;
	font-family:'Calibri';
}
#botao-grande{
	width:150px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:right;
	margin-bottom:20px;
}
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}
#botao-pequeno{
	width:100px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-bottom:20px;	
	margin-left:10px;
}
#botao-pequeno:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#campo-buscador{
	width:350px;
	height:40px;
	border-radius:10px;
	border:1px solid #04C4D9;
	color:darkgrey;
	font: 15px solid;
	font-family:'Calibri';
	float:left;
	margin-bottom:20px;
}
#tabela-classificacao-livro{
	color:#04C4D9;
	text-align:center;
	font: 19px solid;
	font-family:'Calibri';	
}
#serapar{
	width:100%;
	height:50px;
	float:left;
}
#subtitulo-etapa-cadastro{
	font:10px solid;
	float:left;
	color:red;
	margin-top:5px;
	margin-left:10px;
	font-family:'Candara';
	cursor:pointer;
	text-decoration:none;
}
#area-questionario-tabela{
	float:left;
	width:500px;
	margin-left:25px;
	height:100px;
}
#texto-questionario-tabela{
	font:15px solid;
	float:left;
	color:#04C4D9;
	font-family:'Candara';
}
#area-caixa-selecao-tabela{
	width:30px;
}
#espaco-tabela{
	width:50px;
}
#icone-lixo{
	width: 15px;
    background-image:url('../imagens/icone-lixo.png');
	background-size:100% 100%;
	margin-left:15px;
	height:20px;
}
#icone-lixo:hover{
	 background-image:url('../imagens/icone-lixo2.png');
}
#quadrado-campo-existente{
	width:250px;
	height:250px;
	background-color:#E6E6E6;
	float:left;
	margin:20px;
	border-radius:10px;
}
#area-quadrados-campo-existente{
	width:100%;
	height:10px;
	float:left;
}
#botao-deletar{
	width:100px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	margin:20px;
}
#botao-deletar:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#texto-deletar-sala{
	color:#038F1A;
	font:20px solid;
	font-family:'Calibri';
	float:left;
	margin:10px;
}
#fonte-nao-encontrado-e-pesquise{
	color:darkgrey;
	font:25px solid;
	font-family:'Candara';
}
