body{
	padding: 0 auto;
	margin:0 auto;
	/*
	background-image:url("../imagens/background-adm.png");
	background-size: 1000px 100%; 
	background-attachment:fixed;
	background-position: center center;
	background-repeat:no-repeat;
	*/
}
#area-perfil{
	width:175px;
	height:120%;
	float:left;
	border-right:2px solid #04C4D9;
}
#conteudo{
	width:72%;
	height:100%;
}
#area-direita{
	width:175px;
	height:120%;
	float:right;
	border-left:2px solid #04C4D9;	
}
#rodape{
	width:100%;
	float:left;
	height:50px;
	background-color:#04C4D9;
}
#topo{
	width:0 auto;
	height:50px;
	background-color:#04C4D9;
}
#area-foto{
	width:100%;
	height:200px;
	float:left;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#menu-topo{
	width:87%;
	height:100%;
	float:left;
}
#lado-direito-topo{
	width:13%;
	height:100%;
	float:left;
}
#cima{
	width:100%;
	height:20px;
	float:left;
	font:20px solid;
	font-family:'Candara';
	color:white;
}
#icone-pequeno{
	height:20px;
	margin:5px;
	border:0;
}
#baixo{
	width:100%;
	height:30px;
	float:left;
}
#topico-conteudo{
	width:90%;
	height:250px;
	float:left;
	margin-top:20px;
}
#titulo-topico-conteudo{
	width:100%;
	height:30px;
	border-bottom:1px solid #038F1A;
	float:left;
	margin-left:2.5%;
	color:#04C4D9;
	font:25px solid;
	font-family:'Calibri';
	text-align:left;
}
#topico-menu{
	width:150px;
	height:40px;
	float:left;
	margin-top:10px;
}
#topico-menu2{
	width:100px;
	height:40px;
	float:left;
	margin-top:10px;
}
#texto-topico-menu{
	font:20px solid;
	font-family:'Calibri';
	color:white;
	margin-top:10px;
	cursor:pointer;
	text-decoration:none;
	text-align:center;
}
#texto-topico-menu:hover{
	color:#038F1A;
	transition: .5s;
}
#texto-materia-lessionada{
	color:#038F1A;
	margin-top:20px;
	font:15px solid;
	font-family:'Candara';
	float:left;
}


































#campo-grande{
	width:98%;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-grande-foto{
	width:350px;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:right;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-medio{
	width:48%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#etapa-cadastro{
	width:100%;
	height:300px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#area-questionario{
	float:left;
	margin-left:50px;
	margin-top:15px;
	width:600px;
	height:150px;
}
#titulo-etapa-cadastro{
	font:15px solid;
	float:left;
	color:#038F1A;
	margin-left:50px;
	font-family:'Candara';
}
#texto-inserir-imagem{
	font:15px solid;
	float:left;
	color:#04C4D9;
	margin-left:1%;
	margin-top:20px;
	font-family:'Candara';	
}


#botao-grande{
	width:220px;
	height:50px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 30px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-left:50px;
	margin-bottom:50px;
}
#botao-grande2{
	width:220px;
	height:50px;
	color:yellow;
	text-align:center;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin:10px;
}
#botao-grande2:hover{
	transition: .5s;
	color:#038F1A;
}
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}



#area-mostrar-emails{
	width:100%;
	margin-top:20px;
	height:400px;
	float:left;
}
#area-emails{
	width:100%;
	height:200px;
	float:left;
}
#areas-botoes-emails{
	width:100%;
	float:left;
	height:100px;
}
#botao-emails{
	width:150px;
	height:50px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-left:50px;
}
#botao-emails:hover{
	transition: .5s;
	background-color:#038F1A;
}
#tabela-mostrar-emails{
	width:92.5%;
	border-top:1px solid #038F1A;	
	border-bottom:1px solid #038F1A;	
}
#td-tabela-mostrar-emails{
	text-align:left;
	font: 17px solid;
	font-family:'Calibri';	
	color:#038F1A;
}
#area-organizar-mensagem{
	width:200px;
	margin-top:20px;
	margin-right:20px;
	float:right;
	text-align:left;
	font: 20px solid;
	font-family:'Calibri';	
	color:#04C4D9;
}
#td-tabela-mostrar-emails-conteudo{
	color:#04C4D9;
	text-align:left;
	font: 17px solid;
	font-family:'Calibri';	
	text-decoration:none;
	cursor:pointer;	
}
#area-direita-enviar-mensagem{
	width:900px; 
	height:400px;
	float:left;
	margin-left:40px;
}
#titulo-configuracao-adm{
	text-align:left;
	font:25px solid;
	color:#04C4D9;
	width:80%;
	font-family:'Calibri';
	float:left;
	margin:50px;
}
#textarea-grande{
	width:98%;
	height:250px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';	
}
#campo-medio-grande{
	width:79%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#botao-submit{
	width:150px;
	height:40px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 15px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin:1%;
}
#botao-submit:hover{
	transition: .5s;
	background-color:#038F1A;
}
#icone-lixo{
	width: 15px;
    background-image:url('../imagens/icone-lixo.png');
	background-size:100% 100%;
	margin-left:15px;
	height:20px;
}
#icone-lixo:hover{
	 background-image:url('../imagens/icone-lixo2.png');
}
#icone-carta-01{
	background-image:url("../imagens/icone-carta-pequeno.png");
	width:20px;
	height:15px;
	background-size:100% 100%;
}
#icone-carta-02{
	background-image:url("../imagens/icone-carta-pequeno2.png");
	width:20px;
	height:15px;
	background-size:100% 100%;
}
#sub-titulo-configuracao-adm{
	text-align:left;
	font:15px solid;
	color:#038F1A;
	width:80%;
	font-family:'Calibri';
	float:left;	
	margin-left:50px;
	margin-top:-25px;
}
#area-texto-mensagem{
	width:90%;
	height:200px;
	float:left;
	margin-left:5%;
	margin-top:-20px;
	font:15px solid;
	font-family:'Calibri';
	color:#04C4D9;
	text-align:left;
}
#texto-lado-direito{
	font:15px solid;
	font-family:'Calibri';
	color:#04C4D9;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#tabela-direita-ranking{
	width:100%;
	height:250px;
	border-top:1px solid #038F1A;
	border-bottom:1px solid #038F1A;
}
#pontuacao-ranking{
	color:#038F1A;
	font:15px solid;
	font-family:'Calibri';
}
#nome-ranking{
	color:#04C4D9;
	font:15px solid;
	font-family:'Candara';	
}