body{
	padding: 0 auto;
	margin:0 auto;
	background-size: 100% 100%;
}

#logotipo-escola{
	width:200px;
	height:200px;
	float:left;
	background-size:100%;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top:-10%;
	margin-left:5%;
}
#area-login{
	-webkit-box-shadow: 10px 10px 40px 10px rgba(0, 0, 0,.4);
	-moz-box-shadow:    10px 10px 40px 10px rgba(0, 0, 0,.4);
	box-shadow:         10px 10px 40px 10px rgba(0, 0, 0,.4);
	background-color:white;
	width:450px;
	height:250px;
	border-radius:20px;
	margin-top:15%;
	font:20px solid;
	font-family: "verdana";
}
#campo_texto{
	width:98%;
	height:40px;
	margin:1%;
	float:left;	
}
#botao_enviar{
	margin:1%;
	height:40px;
	width:150px;
	float:left;	
	border:0px;
	background-color:darkgrey;
	font:20px solid;
	font-family: "verdana";
	cursor:pointer;
}
#botao_enviar:hover{
	color:white;
	transition:.5s;
}
#topo-portal2{
	width:0 auto;
	height:120px;
}
#logo-escola2{
	width:200px;
	height:100%;
	float:left;
	background-size:100%;
	background-position: center center;
	background-repeat: no-repeat;
	margin-left:5%;
}
#area-login2{
	width:350px;
	height:100%;
	float:right;
	margin-right:5%;
	margin-top:10px;
}
#texto_acesso2{
	font: 25px solid;
	font-family: 'Calibri';
	color:white;
	margin-top:150px;
	margin-left:550px;
	width:400px;
	height:200px;
}
#texto-acesso{
	font: 20px solid;
	color:white;
	float:left;
	margin-top:5px;
	font-family:'Calibri';
}
#botao-grande{
	width:100%;
	height:30px;
	float:left;
	margin-top:1.5%;
	border:0;
	border-radius:5px;
}
#botao-entrar{
	width:100px;
	height:30px;
	border:0;
	float:left;
	margin-top:1%;
	color:white;
	background-color:#04C4D9;
	font:20px solid;
	font-family: "calibri";
	cursor:pointer;
	border-radius:5px;	
}
#botao-entrar:hover{
	transition: .5s;
	background-color:#038F1A;
}
#iframe{
	width:100%;
	height:100%;
	float:right;
}
#menu-topo-portal{
	width: 25%;
	height:100%;
	float:left;
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	display:block;
}
#linha-oculta{
	width:20px;
	height:100%;
	float:left;
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	display:none;	
}
#fechar-editar-portal{
	float:right;
	margin:10px;
	color:white;
	font: 20px solid;
	font-family:'Calibri';
	cursor:pointer;
}
#menu-topo-portal-limite{
	float:right;
	width:325px;
	height:100%;
	margin-right:10px;
}
#titulo-editar-portal{
	color:#04C4D9;
	font:25px solid;
	font-family: "Candara";
	float:left;
	margin:10px;
}
#texto-editar-perfil{
	color:#038F1A;
	font:15px solid;
	font-family: "Calibri";
	float:left;
	margin:10px;
}
#url_portal{
	width:95%;
	float:left;
	margin-left:2.5%;
	height:50px;
	background-color:rgba(0,0,0,0.5);
	color:white;
	font:15px solid;
	font-family:"Calibri";
}
#campo-file{
	width:95%;
	height:40px;
	float:left;
	margin:2.5%;
	font-family:'Candara';
}
#espaco-editar{
	width:95%;
	height:25px;
	margin-left:2.5%;
	float:left;
	border-bottom: 1px solid #04C4D9;
}
#botao-pequeno{
	float:right;
	margin-right:2.5%;
	margin-top:10px;
	border:0;
	color:white;
	background-color:#04C4D9;
	width:100px;
	height:30px;
	cursor:pointer;
}
#botao-pequeno:hover{
	transition: .5s;
	background-color:#038F1A;
}
#botao-mudar{
	float:left;
	margin-left:2.5%;
	margin-top:10px;
	border:0;
	font:25px solid;
	font-family: "Calibri";
	color:white;
	background-color:#04C4D9;
	width:125px;
	height:50px;
	cursor:pointer;
}
#botao-mudar:hover{
	transition: .5s;
	background-color:#038F1A;
}
#texto-deletar{
	font:15px solid;
	color:white;
	float:left;
	margin:25px;
	font-family:'Calibri';
	cursor:pointer;
	text-decoration:none;
}
#texto-deletar:hover{
	transition: .5s;
	color:#038F1A;
}
#texto-inicio{
	font:15px solid;
	color:white;
	float:left;
	margin:10px;
	font-family:'Calibri';
	cursor:pointer;
	text-decoration:none;
}
#texto-inicio:hover{
	transition: .5s;
	color:#038F1A;
}