body{

padding: 0 auto;
margin:0 auto;

}

#topo{
	width:100%;
	height:120px;
	background-color:#038F1A;
}
#topo-limite{
	width:1250px;
	height:100%;
}
#icone-auto-falante{
	float:left;
	height:80%;
	margin-top:10px;
}
#texto-topo{
	color:white;
	font:20px solid;
	float:left;
	font-family: 'Candara';
	text-align:justify;
	margin-left:50px;
	margin-top:30px;
}
#botao-medio{
	width:150px;
	height:30%;
	float:right;
	border-radius:5px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	font: 100% solid;
	font-family:'Calibri';
	margin-top:50px;
	margin-right:50px;
	cursor:pointer;
}
#botao-medio:hover{
	transition: .5s;
	background-color:#038F1A;	
}
#cadastro-instituicao{
	width:1250px;
	margin-top:25px;
	display:block;
}
#texto-cadastro{
	font:35px solid;
	float:left;
	font-family:'Calibri';
	color:#04C4D9;
	margin-top:25px;
	margin-bottom:25px;
}
#etapa-cadastro{
	width:100%;
	height:350px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#tipoPortalEscolha{
	width:550px;
	height:250px;
	float:left;
	margin:30px;
	background-size:100% 100%;
	cursor:pointer;
}
#etapa-cadastro2{
	width:100%;
	height:250px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#titulo-etapa-cadastro{
	font:15px solid;
	float:left;
	color:#038F1A;
	margin-left:25px;
	font-family:'Candara';
}
#area-questionario{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
}
#area-questionario-professor{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:300px;
	display:none;
}
#area-questionario-outro-funcionario{
	float:left;
	margin-left:25px;
	margin-top:15px;
	width:600px;
	height:150px;
	display:none;
}
#tabela_dias_a_lessionar{
	width:100%;
	color:#04C4D9;
	font-family:'Calibri';
	text-align:left;
	float:left;
	margin-top:10px;
}
#fonte-lessionar{
	width:100%;
	float:left;
}
#area-radio-professor{
	color:#04C4D9;
	font-family:'Calibri';
	text-align:left;
	width:100px;
	height:25px;
	margin:10px;
	float:left;
}
#tec-cor{
	color:#04C4D9;
}
#campo-grande{
	width:98%;
	height:40px;
	border-radius:5px;
	border:1px solid #04C4D9;
	float:left;
	margin:1%;
	color:darkgrey;
	font-family:'Candara';
}
#campo-medio{
	width:48%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#campo-pequeno{
	width:100%;
	height:40px;
	border-radius:5px;
	float:left;
	margin:1%;
	border:1px solid #04C4D9;
	font-family:'Candara';
	color:darkgrey;
}
#botao-grande{
	width:220px;
	height:50px;
	border-radius:10px;
	border:0px;
	background-color:#04C4D9;
	color:white;
	text-align:center;
	font: 30px solid;
	font-family:'Calibri';
	cursor:pointer;	
	float:left;
	margin-left:25px;
	margin-bottom:50px;
}
#margin-texto-botao{
	margin-top:5px;
}
#botao-grande:hover{
	transition: .5s;
	background-color:#038F1A;
}
#icone-etapa-cadastro-instituicao{
	float:right;
	margin-top:75px;
	margin-right:150px;
}
#icone-etapa-cadastro-instituicao2{
	float:right;
	margin-top:25px;
	margin-right:150px;
}
#icone-etapa-cadastro-instituicao3{
	float:right;
	margin-top:50px;
	margin-right:130px;
}
#tabela-classificacao-livro{
	color:#04C4D9;
	text-align:center;
	font: 19px solid;
	font-family:'Calibri';	
}
#serapar{
	width:100%;
	height:50px;
	float:left;
}
#subtitulo-etapa-cadastro{
	font:10px solid;
	float:left;
	color:red;
	margin-top:5px;
	margin-left:10px;
	font-family:'Candara';
	cursor:pointer;
	text-decoration:none;
}
#area-questionario-tabela{
	float:left;
	width:500px;
	margin-left:25px;
	height:100px;
}
#texto-questionario-tabela{
	font:15px solid;
	float:left;
	color:#04C4D9;
	font-family:'Candara';
}
#area-caixa-selecao-tabela{
	width:30px;
}
#espaco-tabela{
	width:50px;
}